.training-info {
  margin-top: 50px;
  font-size: 1.2rem;
}

.training-info-item {
  margin-bottom: 25px;
  line-height: 1.6rem;
  font-weight: 700;
}

.training-info-label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--light-grey);
}

.training-info-file {
  font-size: 1.2rem;
  margin-left: 25px;
  color: var(--light-grey);
}

#info-label {
  color: var(--white);
  font-weight: 400;
}

#info-file {
  color: var(--white);
  font-weight: 400;
}
