.training-title {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.training-help {
  text-decoration: none;
  color: var(--light-grey);
  margin-bottom: 15px;
}

.training-help:hover {
  color: var(--grey);
}

.training-description {
  margin-bottom: 45px;
  line-height: 1.5rem;
}

#training-form {
  display: flex;
  align-items: center;
}

.training-form-item {
  min-width: 150px;
}

input[type="file"] {
  display: none;
}

#training-file {
  border: 1px solid var(--light-grey);
  background-color: var(--light-black);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
}

#training-file:hover {
  opacity: 0.8;
}

#training-file:active {
  opacity: 0.5;
}

#training-filename {
  color: var(--light-grey);
}
