.homepage-content {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.homepage-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage-description {
  width: 100%;
  min-height: 450px;
  background-image: url("/homepage-bg.png");
  border-radius: 25px;
  padding: 50px 60px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homepage-description-title {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 3.3rem;
  margin-bottom: 25px;
}

.homepage-description-summary {
  font-size: 1.3rem; 
}

.homepage-description-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.homepage-features {
  margin: 25px 0px;  
}

.homepage-features-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.3rem;
}

.homepage-features-description {
  font-size: 1.3rem;
  margin: 25px 0px;
}

.homepage-features-boxes {
  display: flex;
  flex-basis: 25%;
  gap: 10px;
  margin-top: 35px;
}

.homepage-models {
  margin-bottom: 25px;  
}

.homepage-models-title {
  margin: 25px 0px;  
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.3rem;
}

.homepage-action-call {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-action-call-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

.homepage-action-call-description {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 25px;
}

.homepage-action-call-btn {
  text-align: center;
  margin-bottom: 50px;
}
