.homepage-btn {
  border-radius: 13px;
  padding: 15px;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Inter, "sans-serif";
  border: none;
  text-align: center;
}

.homepage-btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

.homepage-btn:active {
  opacity: 0.65;
  cursor: pointer;
}

